<%- include("../partials/html-head") %> <%- include("../partials/nav") %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight No.</th>
        <th>Airport</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>

      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.departs.toLocaleDateString() %></td>
      </tr>

      <% }) %>
    </tbody>
  </table>
</main>

<%-include("../partials/footer") %>
